.row {
  display: grid;
  grid-template-columns: repeat(2, 15%) 1fr 15% 25%;
  gap: 1px;
}

.row:nth-child(odd) {
  background-color: #eeeeee;
}

.data-cell {
  font-size: 1rem;
  padding: 15px;
  color: var(--secondary-color);
  align-self: center;
}

.align-right {
  text-align: right;
}

.negative-amount {
  color: red;
}